

.sör-hatter {
    display: block;
    margin: 0 auto;
    max-width: 60%;
    height: auto;
    filter: brightness(90%);
}

nav {
    max-width: 75%;
    margin: 0 auto
}

.card {
    width: 70%;
    margin: 0 auto;
}

.card img{
    filter: brightness(50%);
    width: 100%;
}

.card img:hover{
    filter: brightness();
}

.keret {
    border-bottom: solid rgb(80, 80, 80) 8px;
    border-right: solid grey 6px;
}